:root {
  --md-primary-fg-color: #141120;
  --md-primary-fg-color--light: #201a30;
  --md-primary-fg-color--dark: #0e0c1a;
  --md-primary-bg-color: #ffffff;
  --md-accent-fg-color: #c08be6;
  --md-accent-fg-color--transparent: rgba(192, 139, 230, 0.1);
  --md-accent-bg-color: #ffffff;
}

[data-md-color-scheme="slate"] {
  --md-hue: 250;
  --md-default-bg-color: #141120;
  --md-default-fg-color: #e1daf4;
  --md-default-fg-color--light: #b2a6d0;
  --md-default-fg-color--lighter: #8276a2;
  --md-default-fg-color--lightest: rgba(225, 218, 244, 0.12);
  --md-primary-fg-color: #c08be6;
  --md-primary-bg-color: #141120;
}
